@import "tailwindcss";

html,
body {
  height: 100%;
  overflow: hidden;
  /* ⛔ מבטל גלילה כללית */
}

button {
  @apply cursor-pointer;
  
}

label { @apply  text-xl;
        @apply text-center;
        @apply text-black font-bold mb-1;
}

.nav-link {
  @apply text-gray-700 hover:text-blue-600 font-medium transition;
}
/*
.input {
@apply  width: 100%;
@apply  padding: 8px;
@apply  border: 1px solid #ccc;
@apply  border-radius: 6px;
}
*/
/* base styles 
body {
  @apply bg-white;
  @apply text-gray-500 m-1;
}

h1,
h2 {
  @apply font-bold text-blue-500 text-lg;
}

main {
  @apply max-w-5xl my-12 mx-auto px-8;
}

main>h2 {
  @apply mb-4 pb-2 text-base;
}

p>a {
  @apply text-blue-500 underline;
}
*/

/* nav styles 
nav {
  @apply border-b-2 border-gray-300 flex items-center gap-5 mx-auto max-w-5xl;
}

nav a,
nav span {
  @apply text-blue-500;
}

nav a:hover {
  @apply text-blue-800;
  @apply underline;
  @apply font-bold;
}

main nav {
  @apply border-0;
}

*/

